<form class="form-inline">
  <label for="search">Suchen</label>
  <input type="text" name="search" id="search" class="form-control">
  <button class="form-control btn btn-primary" type="submit">Suchen</button>
</form>
<ng-container *ngIf="infinite | async as tonies">
  <cdk-virtual-scroll-viewport itemSize="128" (scrolledIndexChange)="nextBatch($event, (tonies[tonies.length - 1].name))">
    <div class="list-group">
      <a *cdkVirtualFor="let tonie of tonies; let i = index; trackBy: trackByIdx" class="bg-light list-group-item list-group-item-action animated zoomIn slow" href="#">
        <p><strong>{{i+1}}: </strong>{{tonie.name}}</p>
        <div class="btn-group">
          <button class="btn btn-primary">add</button>
          <button class="btn btn-info">buy</button>
        </div>
      </a>
    </div>
    <div class="container">
      <h2 class="mx-auto text-center">Das waren alle Tonies</h2>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-container>


