<div *ngIf="isLoading$ | async" class="container rounded grayed-out position-absolute" style="z-index: 100; margin-top: -1px; margin-bottom: 1px;  height: calc(100% + 2px); overflow: hidden">
  <div class="row mx-auto" style="height: 100%">
    <div class="col-md-8 mx-auto" style="height: 100%">
      <div style="height: 100%; margin-top: 50%" class="mx-auto text-center align-content-center">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </div>
</div>
<div class="container my-4">
  <div>
    <h2 class="text-center">Anmeldung</h2>
    <form
      class="col-md-8 mx-auto my-2"
      [formGroup]="loginForm"
      (ngSubmit)="handleEmailLogin()">
      <div class="form-group">
        <label for="email">Emailadresse</label>
        <input
          [ngClass]="{'is-invalid': email.hasError('email') || email.hasError('required') && email.touched}"
          formControlName="email"
          type="email"
          class="form-control"
          id="email"
          placeholder="gültige Email"
        />
        <span *ngIf="email.hasError('required') && email.touched"><small>Emailadresse ist erforderlich</small></span>
        <span *ngIf="email.hasError('email')"><small>keine korrekte Emailadresse</small></span>
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="inputPassword"
          placeholder="Password">
      </div>
      <button
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn btn-primary btn-block shadow">anmelden</button>
    </form>
    <hr>
    <div class="col-md-8 mx-auto">
      <button
        (click)="handleGoogleLogin()"
        type="button"
        class="btn btn-block btn-light shadow">
        <img
          src="../../../assets/g-logo.png"
          class="float-left"
          style="height: 24px; width: 24px;">
        Anmelden mit Google</button>
      <button
        (click)="handleFacebookLogin()"
        type="button"
        class="btn btn-block btn-light shadow">
        <img
          src="../../../assets/flogo_RGB_HEX-72.png"
          class="float-left"
          style="height: 24px; width: 24px;">
        Anmelden mit Facebook</button>
    </div>
    <hr>
    <div  class=" mx-auto text-center">Ich bin neu hier und möchte mich <span (click)="handleOpenSignup()" class="btn-link pointer">registrieren</span></div>
  </div>

</div>
