<nav class="navbar sticky-top  navbar-light bg-light">
  <a class="navbar-brand" routerLink="/"><i class="fas fa-home"></i> MyTonies.app</a>
  <!--Display buttons if isLoggedIn = false-->
  <div *ngIf="!isLoggedIn">
    <a class="mx-2 btn btn-outline-primary" role="button">Registrieren</a>
    <a class="mx-2 btn btn-primary" role="button">Einloggen</a>
  </div>


  <!--Display the Menu if isLoggedIn = true-->
  <div *ngIf="isLoggedIn" class="btn-group" ngbDropdown role="group" placement="bottom-right" style="cursor: pointer" >
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i class="fas fa-bars"></i> </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="btn nav-item dropdown-item" routerLink="/home"><i class="fas fa-home"></i> Startseite</button>
      <button class="btn nav-item dropdown-item" routerLink="/my-tonies"><i class="fas fa-tasks"></i> Meine Tonies</button>
      <button class="btn nav-item dropdown-item" routerLink="/all-tonies"><i class="fas fa-list-ul"></i> Alle Tonies</button>
      <button class="btn nav-item dropdown-item" routerLink="/wishlist"><i class="fas fa-gift"></i> Wunschliste</button>
      <div class="dropdown-divider"></div>
      <button class="btn nav-item dropdown-item" routerLink="/settings"><i class="fas fa-cogs"></i> Einstellungen</button>
      <button class="btn nav-item dropdown-item" routerLink="/share"><i class="fas fa-share"></i> Teilen</button>
      <div class="dropdown-divider"></div>
      <button class="btn nav-item dropdown-item" (click)="signOutHandler()">
        <span class="text-danger">
          <i class="fas fa-sign-out-alt"></i> Abmelden
        </span>
      </button>
    </div>
  </div>
</nav>
